<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
"
       default-autowire="no" default-lazy-init="false">


    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1"></property>
    </bean>
    -->

    <!--
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1"></property>
    </bean>
    -->

    <!-- 统计数据库-糯米部分 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <!--
        <property name="url" value="jdbc:mysql://10.94.48.52:8613/niux_report" />
        -->
        <property name="url" value="jdbc:mysql://10.94.33.12:8306/olap" />

        <property name="username" value="nuomi_w" />
        <property name="password" value="nothing" />
        <property name="initialSize" value="10" />
        <property name="minIdle" value="50" />
        <property name="maxIdle" value="200" />
        <property name="maxActive" value="500" />
        <property name="validationQuery" value="select 1" />
    </bean>


</beans>
